@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');
body,
ul,
h1 {
    margin: 0px;
    padding: 0px;
    font-family: "Barlow";
    font-size: 18px;
    overflow-x: hidden;
}

body::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 60%;
    background-color: var(--cor-azul-acinzentado-claro);
    top: 0;
    right: 0;
    z-index: -1;
    border-bottom-left-radius: 3em;
}

 :root {
    --cor-primaria-vermelho: hsl(0, 100%, 68%);
    --cor-azul-muito-escuro: hsl(230, 29%, 20%);
    --cor-azul-acinzentado-escuro: hsl(230, 11%, 40%);
    -cor-azul-acinzentado: hsl(231, 7%, 65%);
    --cor-azul-acinzentado-claro: hsl(207, 33%, 95%);
}

.conteudo-fundo {
    background-color: var(--cor-azul-acinzentado-claro);
    height: 400px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    height: 80px;
}

a {
    text-decoration: none;
    color: var(--cor-azul-muito-escuro);
}

.login {
    color: var(--cor-azul-acinzentado-escuro);
    opacity: 0.5;
}

ul {
    list-style: none;
    line-height: 2.8em;
}

.link-header {
    display: none;
    width: 85%;
    position: absolute;
    top: 7em;
    background: white;
    box-shadow: 0px 0px 2px var(--cor-azul-acinzentado-claro);
}

li {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Barlow Condensed";
}

.ponto-Desktop {
    display: none;
}

li:nth-child(4) {
    border-top: 1px solid #ccc;
    width: 80%;
    margin-left: 1em;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.contant-illustration {
    margin: 45px auto;
}

.img-illustration {
    object-fit: cover;
    object-position: -10% 0%;
    height: 64vw;
    width: 100%;
}

section {
    padding: 60px 30px;
}

.btn-new {
    width: 55px;
    height: 25px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background: var(--cor-azul-muito-escuro);
    color: white;
}

.btn-Schedule {
    font-weight: 700;
    font-family: 'Barlow Condensed';
    font-size: 12px;
    width: 145px;
    height: 33px;
    border: none;
    border-radius: 4px;
    color: white;
    background: var(--cor-primaria-vermelho);
}

span {
    color: var(--cor-azul-acinzentado-escuro);
    text-transform: uppercase;
    font-size: 0.9em;
    padding-left: 10px;
    opacity: 0.5;
    line-height: 1em;
}

.titulo-Powerful {
    color: var(--cor-azul-muito-escuro);
    text-transform: uppercase;
    font-family: "Barlow Condensed";
    font-weight: 700;
    font-size: 2.3em;
    margin: 20px 0;
}

.text-project {
    color: var(--cor-azul-muito-escuro);
    padding-bottom: 20px;
    opacity: 0.8;
}

.span-to-see {
    opacity: 0.5;
    line-height: 1em;
    font-size: 12px;
    color: var(--cor-azul-acinzentado-escuro);
}

.container-hamburger {
    display: inline-block;
    cursor: pointer;
}

.bur1,
.bur2,
.bur3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bur1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bur2 {
    opacity: 0;
}

.change .bur3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width: 1024px) {
    body::after {
        height: 54%;
    }
    main {
        margin: auto 7em;
    }
    .conteiner-geral {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
    .container-hamburger {
        display: none;
    }
    .logos {
        width: 10%;
        left: 7em;
        position: absolute;
    }
    .link-header {
        display: contents;
    }
    .menu {
        justify-content: flex-end;
    }
    ul {
        display: flex;
        cursor: pointer;
    }
    li:hover {
        text-decoration: underline;
    }
    li {
        padding-inline-end: 2em;
    }
    li:nth-child(4) {
        display: none;
    }
    .ponto-Desktop {
        color: var(--cor-azul-acinzentado-escuro);
        opacity: 0.5;
        display: flex;
    }
    .contant-illustration {
        width: 50%;
    }
    section {
        width: 50%;
        padding: 0;
        height: 22em;
        padding: 0;
    }
    .titulo-Powerful {
        font-size: 4em;
    }
    .text-project {
        width: 50%;
    }
    .img-illustration {
        height: 32vw;
        width: 122%;
        overflow: hidden;
    }
    .btn-Schedule {
        width: 150px;
        height: 45px;
    }
    .btn-Schedule:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}